<%- include('./includes/head.ejs') %> <%- include('./includes/header.ejs') %>
<h1 class="text-center text-light">Sign in</h1>

<%- include("./includes/end.ejs") %>

<!--
    name
    email
    number
    password
    address

 -->
