<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section class="container bg-white mt-5 w-100">
	<h1 class="text-center">Bidha Auction</h1>
	<div class="text-center">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ab
			in quidem architecto. Nostrum, distinctio eligendi voluptate
			voluptatem accusamus laborum quasi culpa unde enim iusto quod? At,
			magnam natus? Perspiciatis.
		</p>
	</div>
	<div>
		<img src="../imgs/landing-page.jpg" alt="" class="w-100" />
	</div>
</section>

<%- include("../includes/end.ejs") %>
