<div class="sidebar">
	<a href="/" style="text-decoration: none">
		<div class="logo-details">
			<i class="bx bxs-car-garage"></i>
			<span class="logo_name">Bidha Auction</span>
		</div>
	</a>
	<!--Side Bar-->
	<ul class="nav-links">
		<li>
			<a
				href="/admin/dashboard"
				class="<%= title === 'Dashboard' ? 'active': '' %>"
			>
				<i class="bx bx-grid-alt"></i>
				<span class="links_name">Dashboard</span>
			</a>
		</li>
		<li>
			<a
				href="/admin/organizer-requests"
				class="<%= title === 'Organizer Requests' ? 'active': '' %>"
			>
				<i class="bx bx-user"></i>
				<span class="links_name">Organizer</span>
			</a>
		</li>
		<li>
			<a
				href="/admin/profile"
				class="<%= title === 'Admin Profile' ? 'active': '' %>"
			>
				<i class="bx bx-cog"></i>
				<span class="links_name">Profile</span>
			</a>
		</li>
		<li class="log_out">
			<a href="#">
				<i class="bx bx-log-out"></i>
				<span class="links_name">Log out</span>
			</a>
		</li>
	</ul>
</div>
