
<footer class="container-fluid w-100 bg-light">
	<section class="row ">
		<div class="col mt-5 mb-5">
			<h3>Bidha Auction</h3>
			<div class="row">
				<p>
					The first online auctions for cars in Jordan,<br> You can buy your car from your home <br> without any exhaustion.
				</p>
			</div>
		</div>

		<div class="col mt-5 mb-5">
			<h3 >Useful Links</h3>
			<div class="row mt-1">
				<div class="col "><a class="footer-links btn" href="/user-profile">Profile</a></div>
			</div>
			<div class="row mt-1">
				<div class="col"><a class="footer-links btn" href="/Wishlist">Wishlist</a></div>
			</div>
			<div class="row mt-1">
				<div class="col"><a class="footer-links btn" href="/Wishlist">Wishlist</a></div>
			</div>
			<div class="row mt-1">
				<div class="col"><a class="footer-links btn" href="/About-us">About</a></div>
			</div>
			</div>

			<div class="col mt-5 mb-5">
				<h3 >Auctions</h3>
			<div class="row mt-1" >
				<div class="col"><a class="footer-links btn" href="/auction/NextAuction">Next Auction</a></div>
			</div>
			<div class="row mt-1">
				<div class="col"><a class="footer-links btn" href="/auction/PreviousAuction">Previous Auction</a></div>
			</div>
			</div>

		<div class="col mt-5 mb-5">
			<div class="col">
				<h3 >Contact</h3>
				<div class="row mt-1">
					<div class="col">Amman, Jordan</div>
				</div>
				<div class="row mt-1">
					<div class="col">BidhaAuction@gmail.com</div>
				</div>
				<div class="row mt-1">
                <div class="col">+962 7 9592 4231</div>
				</div>
				<div class="row mt-1">
					<div class="col">+962 7 9967 5662</div>
				</div>
			</div>
		</div>
    <hr>
    <h6>2022 Copyright:BidhaAuction.com</h6>
	</section>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
 </html>