<body>
	<header class="">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<img src="../imgs/logoAuction.png" class="" alt="logo" />

				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="/auction"
								>Home</a
							>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/user-profile">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user-profile"
								>Wishlist</a
							>
						</li>

						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Auctions
							</a>
							<ul
								class="dropdown-menu"
								aria-labelledby="navbarDropdown"
							>
								<li>
									<a class="dropdown-item" href="#"
										>Next Auction</a
									>
								</li>
								<li>
									<a class="dropdown-item" href="#"
										>Previous Auction</a
									>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact-us"
								>Contact Us</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about-us">About Us</a>
						</li>
						<li id="search-form">
							<form class="d-flex">
								<input
									class="form-control me-2"
									type="search"
									placeholder="Search"
									aria-label="Search"
								/>
								<button
									class="btn btn-outline-primary"
									type="submit"
								>
									Search
								</button>
							</form>
						</li>
					</ul>
					<div id="auth-links" class="d-flex">
						<div class="dropdown auth-buttons">
							<button
								class="btn btn-primary dropdown-toggle"
								type="button"
								id="dropdownMenuButton1"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Sign In
							</button>
							<ul
								class="dropdown-menu"
								aria-labelledby="dropdownMenuButton1"
							>
								<li class="">
									<a
										class="dropdown-item"
										href="/organizer-signin"
										>Organizer Sign In</a
									>
								</li>
							</ul>
						</div>
						<div class="dropdown auth-buttons">
							<button
								class="btn btn-success dropdown-toggle"
								type="button"
								id="dropdownMenuButton1"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Sign Up
							</button>
							<ul
								class="dropdown-menu"
								aria-labelledby="dropdownMenuButton1"
							>
								<li class="">
									<a class="dropdown-item" href="/user-signup"
										>Bidder Sign Up</a
									>
								</li>
								<li class="">
									<a class="dropdown-item" href="/user-signup"
										>Bidder Sign Up</a
									>
								</li>
							</ul>
						</div>

						<a href="" class="btn btn-danger auth-buttons"
							>Logout</a
						>
					</div>
				</div>
			</div>
		</nav>
	</header>
</body>
