#main-container {
	background-color: #98c5e4;
	width: 100%;
	margin: 0 auto;
	border: 5px solid black;
	margin-top: 5%;
}

div.wrapper {
	width: calc(4 * 225px);
	margin: 0 auto;
}

span,
a,
strong {
	font-weight: 700;
}
a {
	transition: 0.2s;
	text-decoration: none;
	color: #787878;
	border-bottom: 1px solid #607d8b;
}
a:hover {
	transition: 0.2s;
	color: #0d6efd;
}
#buttons {
	display: block;
}
/* page layout */

/* header */

/* section */

section h1,
section p.meta {
	color: #ffffff;
	margin-bottom: 15px;
}

section hgroup {
	margin-top: -360px;
}

section p.numbers {
	font-size: 6em;
}
section p.meta,
section p.strings {
	font-size: 1.5em;
}
section h1 {
	font-size: 4.5em;
}

/* countdown styles */

div#countdown {
	color: #353535;
}

div#countdown p {
	width: 100%;
	text-align: center;
}

p.numbers {
	width: 100%;
	height: 85%;
	background: #ffffff;
	margin-top: -25px;
	padding-top: 100px;
}

p.strings {
	width: 100%;
	height: auto;
	padding: 30px 0;
	background: #0d6efd;
	color: #ffffff;
}

div.cd-box {
	width: 210px;
	height: 360px;
	background: #ffffff;

	padding: 25px 0 0 0;
	margin: 30px 15px 0 0;
	-webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	-moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}
footer {
	margin-top: 10rem;
	clear: both;
}
