#main-container {
	background-color: #98c5e4;
	width: 100%;
	margin: 0 auto;
	border: 5px solid black;
	margin-top: 5%;
}

span,
a,
strong {
	font-weight: 700;
}
a {
	transition: 0.2s;
	text-decoration: none;
	color: #787878;
	border-bottom: 1px solid #607d8b;
}
a:hover {
	transition: 0.2s;
	color: #0d6efd;
}
#buttons {
	display: block;
}
/* page layout */

/* header */

/* section */

section h1,
section p.meta {
	color: #ffffff;
	margin-bottom: 15px;
}

section hgroup {
	margin-top: -360px;
}

section p.numbers {
	font-size: 6em;
}
section p.meta,
section p.strings {
	font-size: 1.5em;
}
section h1 {
	font-size: 4.5em;
}

/* countdown styles */

div#countdown {
	display: flex;
	flex-wrap: wrap;
	color: #ffffff;
	justify-content: center;
	max-width: 860px;
	height: 360px;
	margin: 10% auto;
}
div.cd-box {
	width: 180px;
	height: 360px;
	background-color: rgb(74, 101, 134);
	padding-top: 25px;
	margin: 0 auto;
	flex: 0 0 50px;
}

p.numbers {
	background-color: rgb(74, 101, 134);
	margin-top: -25px;
	padding-top: 100px;
}

p.strings {
	padding: 30px 0;
	background: #0d6efd;
	color: #ffffff;
}
