<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section id="countdown" class="">
	<div class="wrapper">
		<div class="text-center mt-5">
			<div id="buttons">
				<a class="btn btn-primary m-auto" href="/auction/info"
					>Auction Info</a
				>
				<a class="btn btn-primary m-auto" href="/auction/bid"
					>Enter Auction</a
				>
			</div>
			<h1>Countdown</h1>
			<p class="meta">Next Auction Countdown</p>
		</div>

		<div id="countdown">
			<div class="cd-box">
				<p class="numbers days">00</p>
				<br />
				<p class="strings timeRefDays">Days</p>
			</div>
			<div class="cd-box">
				<p class="numbers hours">00</p>
				<br />
				<p class="strings timeRefHours">Hours</p>
			</div>
			<div class="cd-box">
				<p class="numbers minutes">00</p>
				<br />
				<p class="strings timeRefMinutes">Minutes</p>
			</div>
			<div class="cd-box">
				<p class="numbers seconds">00</p>
				<br />
				<p class="strings timeRefSeconds">Seconds</p>
			</div>
		</div>
		<!-- end div#countdown -->
	</div>
	<!-- end div.wrapper -->
</section>

<script src="../js/date.js"></script>
<%- include("../includes/end.ejs") %>
