<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section id="" class="">
	<div class="">
		<div class="text-center mt-5">
			<div id="buttons">
				<a class="btn btn-primary m-auto" href="/auction/info"
					>Auction Info</a
				>
				<a class="btn btn-primary m-auto" href="/auction/bid"
					>Enter Auction</a
				>
			</div>
			<p class="meta mt-5">Next Auction Countdown</p>
		</div>

		<div id="countdown" class="">
			<div class="cd-box">
				<p class="numbers days text-center">00</p>
				<br />

				<p class="strings timeRefDays text-center">Days</p>
			</div>
			<div class="cd-box">
				<p class="numbers hours text-center">00</p>
				<br />
				<p class="strings timeRefHours text-center">Hours</p>
			</div>
			<div class="cd-box">
				<p class="numbers minutes text-center">00</p>
				<br />
				<p class="strings timeRefMinutes text-center">Minutes</p>
			</div>
			<div class="cd-box">
				<p class="numbers seconds text-center">00</p>
				<br />
				<p class="strings timeRefSeconds text-center">Seconds</p>
			</div>
		</div>
		<!-- end div#countdown -->
	</div>
	<!-- end div.wrapper -->
</section>

<script src="../js/date.js"></script>

<%- include("../includes/end.ejs") %>
