<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>
<div id="main-container" class="container">
	<div class="row align-items-center">
		<div class="col">
			<div class="sidebar">
				<a class="active" href="/auction">Feed</a>
				<a href="#news">News</a>
				<a href="#contact">Contact</a>
				<a href="#about">About</a>
			</div>
		</div>
		<div class="col">
			<div class="">
				<h2 class="">1 Day 1 Hour 50 Minutes 30 Seconds</h2>
			</div>
			<div>
				<a class="btn btn-primary" href="/auction/info">Auction Info</a>
				<a class="btn btn-primary" href="/auction/bid">Enter Auction</a>
			</div>
		</div>
	</div>
</div>

<%- include("../includes/end.ejs") %>
